In [13]:
import os
from pathlib import Path
import shutil
import pandas as pd
import json

In [3]:
database = pd.read_csv('/home/s175668/raid/Praca-Magisterska/dataset/database.csv')

In [8]:
database

                       file    shoter camera  made  clean  skill
0     0001_krystian_under_1  krystian  under     1      1      2
1      0001_krystian_side_1  krystian   side     1      1      2
2     0002_krystian_under_1  krystian  under     1      1      2
3      0002_krystian_side_1  krystian   side     1      1      2
4     0003_krystian_under_1  krystian  under     1      1      2
...                     ...       ...    ...   ...    ...    ...
9045       4523_kuba_side_1      kuba   side     1      1      1
9046    4524_gustaw_under_0    gustaw  under     0      0      0
9047     4524_gustaw_side_0    gustaw   side     0      0      0
9048      4525_kuba_under_0      kuba  under     0      0      1
9049       4525_kuba_side_0      kuba   side     0      0      1

[9050 rows x 6 columns]

In [18]:
path_3d = Path('/home/s175668/raid/Praca-Magisterska/dataset/pose3d/')
path_2d = Path('/home/s175668/raid/Praca-Magisterska/dataset/pose2d/')
for _, row in database.iterrows():
    json_3d = path_3d / row.camera / f'{row.file}.json'
    json_2d_p = path_2d / row.camera / f'{row.file}.json'
    
    with open(json_2d_p) as f:
        json_2d = json.load(f)
    
    if json_2d[-1]['frame_id'] < 17:
        print(json_2d_p)

/home/s175668/raid/Praca-Magisterska/dataset/pose2d/side/2254_krystian_side_1.json
/home/s175668/raid/Praca-Magisterska/dataset/pose2d/side/2950_kuba_side_0.json
/home/s175668/raid/Praca-Magisterska/dataset/pose2d/under/3678_krystian_under_0.json

In [47]:

for file in files:
    file_name = str(file).rsplit('/', 1)[-1]
    shutil.move(file, file.parent.parent / 'under' / file_name)

In [17]:
json_2d[-1]['frame_id']

17